@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap');
html, body {
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}
.button{
    padding: 20px;
    margin: 0 3px;
    border: 2px solid black;
    border-radius: 9px;
    cursor: pointer;
    width: 56px;
    background-color: bisque;
    
}
.row{
    margin: 8px 0;
}
.row>.input{
    font-size: 14px;
    padding: 10px 38px;
    border: 2px solid black;
    border-radius: 5px;
}